<div class = "leftcolumn"> <!-- lefthand info column-->
       <div class = "headerlogo">
            <h1><a href="index.html"> Garden Path </a></h1>
       </div>
       <div class = "ldescription">
            <p>{{ page.content | markdownify }}</p>
       </div>
       <div class = "outlinks">
            <a href="https://twitter.com/sulkaritari"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/ahodori"><i class="fab fa-github"></i></a>
            <a href="https://soundcloud.com/sulkaritari"><i class="fab fa-soundcloud"></i></a>
            <a href="https://sulkaritari.bandcamp.com/releases"><i class="fab fa-bandcamp"></i></a>
       </div>
</div> 
